@charset  "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4c2424;
}


.logo{
     position: relative;
    display: inline-block;
    text-align: center;

}.logo img{
    width: 100%;
    height: 100%;
    margin-bottom: -20px;
    margin-top: 5px;
    margin-left: 0px;
}

input.botao {
    background-color: #7a3520;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    color: white;
} 

h2{
    text-align: center;
    color: white;
}

p{
    color: white;

}
p> a{
     width: 80px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
img { 
    margin-left: 39px;
    width: 70%;
    height: auto;
    margin-bottom: 5px;

}



footer {
    background-color: #150906;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.zap{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
